<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lelisoft.com.lelimath">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".helpers.LeliMathApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activities.DashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CalcActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.PuzzleActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.GamePreferenceActivity"
            android:label="Preferences"
            android:parentActivityName=".activities.DashboardActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".activities.BadgeAwardActivity"
            android:label="@string/title_badge"
            android:parentActivityName=".activities.DashboardActivity">
        </activity>
        <activity
            android:name=".activities.PracticeSettingsActivity"
            android:label="@string/title_badge"
            android:parentActivityName=".activities.DashboardActivity">
        </activity>
        <activity
            android:name=".activities.WebViewerActivity"
            android:label="Prohlížeč"
            android:parentActivityName=".activities.DashboardActivity">
        </activity>
        <activity
            android:name=".activities.InformationActivity"
            android:label="@string/action_info"
            android:parentActivityName=".activities.DashboardActivity">
        </activity>
        <activity
            android:name=".activities.DressUpActivity"
            android:label="@string/title_dress_up"
            android:parentActivityName=".activities.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            >
            <!--android:theme="@style/AppTheme.FullScreen"-->
        </activity>
        <activity
            android:name=".activities.CampaignListActivity"
            android:label="@string/title_academy"
            android:parentActivityName=".activities.DashboardActivity">
        </activity>
        <activity
            android:name=".activities.CampaignActivity"
            android:label="@string/title_academy"
            android:parentActivityName=".activities.CampaignListActivity">
        </activity>
        <activity
            android:name=".activities.RunTestActivity"
            android:label="@string/title_academy"
            android:parentActivityName=".activities.CampaignActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7c7bf17a7ad99a3376db27a6dbcbcd2720f8e933" />
    </application>
</manifest>
